@use "@/styles/variables" as *;

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-filt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;

  gap: 16px; 

  padding: 16px; 

  input,
  select {
    padding: 8px 16px;
    font-size: 16px; 
    border-radius: 5px;
    border: 1px solid $border-color-gray;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    &:focus {
      border-color: $search-bar-focus;
      outline: none;
      box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
    }
  }

  input {
    flex: 7;
  }

  select {
    flex: 3;
  }
}
