/* цвет текста для светлого фона */
$color-primary: black;
/* цвет текста для темного фона  */
$color-secondary: #b37a37;
/* основной цвет фона */
$color-background: #ffffff;
/* цвет фона для заголовка */
$color-background: #404040;
