$color-bg-light: #f5f5f5; // Один из 2-ух основных цветов (для заднего фона)
$color-bg-dark:#666; //цвет для хедера
$primary-color: #38d707;  // Один из 2-ух основных цветов (для различных элементов интерфейса типа кнопок, подчеркиваний, текста и тд.)
$color-background: #f5f5f5;
$reserve-color:#38d707; //цвет текста в хедер(на темном фоне)
$btn-primary-gradient: #32c106; // Градиент для кнопки


