$color-bg-light: #f5f5f5; // Один из 2-ух основных цветов (для заднего фона)
$primary-color: #38d707;  // Один из 2-ух основных цветов (для различных элементов интерфейса типа кнопок, подчеркиваний, текста и тд.)
$btn-primary-gradient: #32c106; // Градиент для кнопки
$color-background: #f5f5f5;