@use "@/styles/variables" as *;

.svgWrapper {
    background-color: $color-bg-light; 
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.favIcon {
    width: 24px;
    height: 24px;
    color: $primary-color; 
    transition: fill 0.2s ease;
    vertical-align: middle;
  
    & path {
      fill: currentColor; 
      transition: fill 0.2s ease;
    }
  
    &:hover path {
      fill: currentColor; 
    }

    .active{

    }
}