@use '@/styles/variables' as *;

.favorite-container {
  .description-favorite{

    text-align: center;
    font-size: 36px;
    line-height: normal;
    font-family: Lexend Deca, sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 36px 0;
    

  }
  .favorite-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 60px 0;
  }
}
